/* Enables use of Google Font style */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

/* Global styling */
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 5%;
  background: #ffe259; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffa751,
    #ffe259
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffa751,
    #ffe259
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

form {
  border: 2px solid #000;
  padding: 2%;
}

button {
  padding: 10px;
  background-color: Transparent;
  border: 1px solid #000;
}